#banner {
    background-color: #232f3e;
    color: white;
}

#pageTitle {
    color: #dd6b10;
}

#mapControls { 
    position: absolute; 
    top: 65px; 
    left: 20px;
    z-index: 100;
    font-size: 12pt;
}

#mapControls span {
    font-weight: bolder;
}